# Ignore data folder
data/DataExamples
data/DataExamplesv2
data/nps
data/Features/Images
devdocs/~$amForm.docx
devdocs/~$EnvNoiseDetectorDataPipelinePresentation.pptx
devdocs/~$vNoiseDetectorProjectProposal.docx
devdocs/~WRL0003.tmp
devdocs/~$vNoiseDetectorProjectProposalFormatted.docx
devdocs/~WRL3102.tmp
data/Features/FeaturesSNR10FFTdf100.mat
data/Features/FeaturesSNR10FFTdf25.mat
data/Features/FeaturesSNR10FFTdf50.mat
*.asv
data/Features/FeaturesSNR6FFTdf100.mat
data/Features/FeaturesSNR6FFTdf50.mat
data/Features/FeaturesSNR6FFTdf25.mat
