# Ignore data folder
data/DataExamples
data/DataExamplesv2
data/nps
devdocs/~$amForm.docx
devdocs/~$EnvNoiseDetectorDataPipelinePresentation.pptx
devdocs/~$vNoiseDetectorProjectProposal.docx
devdocs/~WRL0003.tmp
devdocs/~$vNoiseDetectorProjectProposalFormatted.docx
devdocs/~WRL3102.tmp
